form {
  position: relative;
  left: 0;
  top: 10px;
  padding: 20px;
}

.info {
  text-align: center;

  font-size: 25px;
  width: 100%;
  padding: 20px 10px;
}

.infos {
  text-align: center;

  font-size: 23px;
  width: 100%;
  padding: 20px 10px;
}

.temperature {
  font-size: 35px;
}

.details {
  font-size: 15px;
  padding: 30px;
}

.description {
  text-transform: capitalize;
}

.weather-wrapper {
  margin: 30px auto;
  max-width: 600px;
}

.weather {
  border-style: 60px;

  border: opacity;
  border-radius: 5px;
  background: radial-gradient(
    circle at -3.3% 48%,
    rgb(141, 146, 239) 0%,
    rgb(99, 229, 254) 90%
  );
}

.forecast {
  font-size: 15px;
  padding: 50px 30px;
  text-align: center;
  font-weight: bolder;
}

.temperature-min {
  opacity: 0.5;
}

.link {
  text-align: center;
  display: block;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
